body{
  display: flex;
  text-align: center;
  justify-content: center;
  background: black;
}

#pogoy{
  color: grey;
  font-size: 35px;
  font-weight: bold;
  font-style: italic;
}

#calculator{
  position: fixed;
  bottom: 0;
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold;
}

#display{
  text-align: right;
  font-size: 100px;
  color: white;
}

.button{
  width: 180px;
  height: 180px;
  margin: 15px 15px;
  border-radius: 30px;
  font-size: 50px;
  font-weight: bold;
  background: #1A2421;
  color: white;
  border: none;
}

.button:active{
  background: #2B3630;
}

#all-clear, #delete, #percent, .op{
  color: orange;
}

#equal{
  width: 395px;
  background: orange;
}

/* Video prank styles */
#video-prank {
    display: none;            /* hidden by default */
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    z-index: 9999;            /* covers everything */
}

#prank-video {
    width: 100%;
    height: 100%;
    object-fit: cover;         /* makes video fill screen nicely */
}
